.main-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  max-width: 87.5rem;
  background-color: #eee5e9;
}
.main-articles a {
  text-decoration: none;
  color: #3b3738;
}
.card {
  position: relative;
  width: 20rem;
  height: 30rem;
  margin: 1.5rem;
  overflow: hidden;
  background-color: black;
  transition: box-shadow 0.3s, translateY 0.3s;
}
.card:hover {
  box-shadow: 0 0 2rem #4d4d4d;
}
.date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding-top: 0.2rem;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
}
.date strong {
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}
.sports.category::after {
  content: "Sports";
}
.internet.category::after {
  content: "Internet";
}
.news {
  background-color: dodgerblue;
}
.news.category::after {
  content: "News";
}
.header {
  width: 20rem;
  height: 50%;
  transition: 0.3s;
  background-size: cover;
  background-position: center center;
}
.card:hover .header {
  height: 15%;
  opacity: 0.3;
}
.content {
  position: relative;
  height: 50%;
  padding: 1rem;
  background-color: white;
  transition: 0.3s;
}
.category {
  height: 2rem;
  width: 5rem;
  position: absolute;
  top: -2rem;
  left: 0;
  line-height: 2rem;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
}
.main-articles h1 {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  font-weight: 800;
}
.main-articles h2 {
  font-size: 1.2rem;
  color: #ffb733;
}
.main-articles p {
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #4d4d4d;
}
.main-articles p + p {
  opacity: 0;
  transition: 0.6s;
}
.card:hover .content {
  height: 85%;
}
.card:hover .content p + p {
  opacity: 1;
}
#nyan-bg {
  background-image: url("https://68.media.tumblr.com/040d77e95e37f05fbc14b0b8ae3d3177/tumblr_opsismTLqh1vghf22o1_400.gif");
}


